/* Core styles for the page */
body {
  margin: 0;
  padding: 0;
  background-color: #F1F1F1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 0.8em;
  color:#363636;
}

.clock {
  font-size: 60px;
  margin-top:10px;
}
.current-event {

}
.opened-event {

}
.closed-event {

}

.current-event-header {
  font-size: 30px;
  color:forestgreen;
}
.opened-event-header {
  font-size: 30px;
  color:forestgreen;
}
.closed-event-header {
  font-size: 30px;
  color:red;
}
